*,
*::before,
*::after {
  box-sizing: border-box;
}
/*STYLE*/

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*BODY*/
body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #434455;
}

body a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
/*HEADER*/
.header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  display: flex;
  align-items: center;
  width: 1158px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}
.header-nav-list-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.link-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-span {
  color: #2e2f42;
}

.header-nav-list-link {
  font-weight: 500;
  color: #2e2f42;
}
.header-nav-list-link:hover {
  color: #404bbf;
}
.header-nav-list-link:focus {
  color: #404bbf;
}
.header-nav-list-link :active {
  color: #404bbf;
}

.header-adress {
  font-style: normal;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}
.header-adress-list-link {
  color: #434455;
}

.adress-list-link :hover {
  color: #404bbf;
}
.adress-list-link :focus {
  color: #404bbf;
}

/*HERO*/

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  align-items: center;
  justify-content: center;
}

.title-hero {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin: 0 auto;
  max-width: 496px;
}

.button {
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/*SECTION-ONE*/
.section-one {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-one-list {
  display: flex;
  gap: 24px;
}
.section-one-li {
  width: calc((100% - 72px) / 4);
}
.section-one-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-one-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*SECTION-TWO*/
.section-two {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.section-two-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-two-list {
  display: flex;
  gap: 24px;
}
.section-two-li {
  width: calc((100% - 72px) / 4);
  background: var(--WHITE, #fff);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.section-two-card {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section-two-subtitle {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #2e2f42;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}
.section-two-text {
  color: #434455;
  text-align: center;
}
.section-two-img {
  display: block;
}

/*SECTION-THRE*/
.section-three {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-three-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-three-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-three-li {
  width: calc((100% - 48px) / 3);
}
.section-three-subtitle {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-three-text {
  color: #434455;
}
.section-three-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-three-img {
  display: block;
}

/*FOOTER*/

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.link-logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-span {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  max-width: 264px;
}
